[package]
name = "awkernel_lib"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
rlsf = "0.2"
bitflags = "2.3"
array-macro = "2.1"

[dependencies.libc]
version = "0.2"
optional = true

[dependencies.x86_64]
version = "0.14"
optional = true

[dependencies.acpi]
git = "https://github.com/tier4/acpi.git"
optional = true


[dependencies.bootloader_api]
version = "0.11"
optional = true

[dependencies.awkernel_aarch64]
path = "../awkernel_aarch64"
optional = true

[dependencies.parking_lot]
version = "0.12"
optional = true

[dependencies.unwinding]
version = "0.2"
default-features = false
features = ["panic"]


[dependencies.smoltcp]
version = "0.10.0"
default-features = false
features = [
    "alloc",
    "log",
    "socket-udp",
    "socket-tcp",
    "proto-ipv4",
    "proto-ipv6",
    "socket-icmp",
    "medium-ethernet",
]


[features]
default = ["aarch64"]
x86 = ["dep:x86_64", "dep:acpi", "dep:bootloader_api"]
aarch64 = ["dep:awkernel_aarch64"]
rv32 = []
std = ["dep:libc", "dep:parking_lot"]
spinlock = []

[target.'cfg(loom)'.dependencies]
loom = "0.7"
