[package]
name = "userland"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
array-macro = "2.1"

[dependencies.awkernel_async_lib]
path = "../awkernel_async_lib"

[dependencies.awkernel_shell]
path = "../applications/awkernel_shell"
