[package]
name = "userland"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"

[dependencies.awkernel_async_lib]
path = "../awkernel_async_lib"

[dependencies.awkernel_services]
path = "../applications/awkernel_services"

[dependencies.test_pubsub]
path = "../applications/test_pubsub"
optional = true

[dependencies.test_network]
path = "../applications/test_network"
optional = true

[dependencies.test_rpi_hal]
path = "../applications/test_rpi_hal"
optional = true

[dependencies.test_graphics]
path = "../applications/test_graphics"
optional = true

[dependencies.test_prioritized_fifo]
path = "../applications/test_prioritized_fifo"
optional = true

[dependencies.test_priority_based_rr]
path = "../applications/test_priority_based_rr"
optional = true

[features]
default = ["test_priority_based_rr"]
raspi = ["dep:test_rpi_hal"]
test_network = ["dep:test_network"]
test_pubsub = ["dep:test_pubsub"]
test_rpi_hal = ["dep:test_rpi_hal"]
test_graphics = ["dep:test_graphics"]
test_prioritized_fifo = ["dep:test_prioritized_fifo"]
test_priority_based_rr = ["dep:test_priority_based_rr"]